# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pino-log*

# Prisma
prisma/*.db
prisma/*.db-journal

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Temp
coverage/
.tmp/